*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
} 

.about-section{
    background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),url(readingbooks.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 30px;
    
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #dfdfdf;
    padding: 120px;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.5);
    background: rgb(255,255,255,0.1);
    border-top: 1px solid rgb(255,255,255,0.1);
    border-left: 1px solid rgb(255,255,255,0.1);
    backdrop-filter: blur(6px);
   
}

    
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #fdfdfd;
}

.inner-container .btn{
    position: relative;
}


.inner-container .btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15 px 35 px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    color: #fff;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);

}

.inner-container .btn:hover a{
    letter-spacing: 2px;
}

.inner-container .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;

}

.inner-container .btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}


.text{
    font-size: 14px;
    color: #fdfdfd;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;

}




@media screen and (max-width: 1200px){
    .inner-container{
        padding: 80px;

    }
}
    
@media screen and (max-width: 1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        
    }
}

@media screen and (max-width: 600px){
    .about-section{
     
        padding: 0;
    }
    .inner-container{
       padding: 60px;
        
    }
}


