*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
} 

.about-section{
    background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),url(readingbooks.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 30px;
    
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #dfdfdf;
    padding: 120px;
    box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
    background: rgb(255,255,255,0.1);
    border-top: 1px solid rgb(255,255,255,0.1);
    border-left: 1px solid rgb(255,255,255,0.1);
    backdrop-filter: blur(6px);
}
    

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #dfdfdf;
}


.text{
    font-size: 14px;
    color: #fdfdfd;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;

}



@media screen and (max-width: 1200px){
    .inner-container{
        padding: 80px;

    }
}
    
@media screen and (max-width: 1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        
    }
}

@media screen and (max-width: 600px){
    .about-section{
     
        padding: 0;
    }
    .inner-container{
       padding: 60px;
        
    }
}


